{% extends "base.html" %}

{% block title %}
{{ title('Home') }}
{% endblock %}

{% block body %}

<style>
  input {
    color: #C0C0C0;
  }
</style>

<div class="row">
  <div class="col s12 l1"></div>
  <div class="col s12 l10">
    <p style="color: #C0C0C0;">
    </p>
  </div>
  <div class="col s12 l1"></div>
</div>

<div class="row">
  <div class="col s12 l1"></div>
  <div class="col s12 l10">
    <p style="color: #C0C0C0;">
    </p>
  </div>
  <div class="col s12 l1"></div>
</div>

<div class="row">
  <div class="col s12 l1"></div>
  <div class="col s12 l10">
    <p style="color: #C0C0C0;">
    </p>
  </div>
  <div class="col s12 l1"></div>
</div>

<div class="row">
  <div class="col s12 l1"></div>
  <div class="col s12 l10">
    <p style="color: #C0C0C0;">
    </p>
  </div>
  <div class="col s12 l1"></div>
</div>

<div class="row">
  <div class="col s12 l3"></div>
  <div class="col s12 l7">
    <img src="/static/movie-time-showtime-logo.png" alt="movie time logo" height="150px">
  </div>
  <div class="col s12 l2"></div>
</div>

<div class="row">
  <div class="col s12 l1"></div>
  <div class="col s12 l10">
    <p style="color: #C0C0C0;">
    </p>
  </div>
  <div class="col s12 l1"></div>
</div>

<div class="row">
  <div class="col s12 l1"></div>
  <div class="col s12 l10">
    <div class="input-field">
      <form id="movie-search">
        <label for="autocomplete-input">Get recommendations for...</label>
        <input type="text" id="auto" class="autocomplete">
      </form>
    </div>
  </div>
  <div class="col s12 l1"></div>
</div>

<div class="row">
  <div class="col s12 l12">
    <div class="carousel">
      {% for i in range(0, posters|length) %}
        <a class="carousel-item" href="{{ url_for('view_movie', movie_id=posters[i][1]) }}">
          <img src="{{ posters[i][0] }}">
        </a>
      {% endfor %}
    </div>
  </div>
</div>

<script type="text/javascript">
$(function() {
  $(document).ready(function() {
    $('.carousel').carousel({
      numVisible: 20,
      padding: 10,
      duration: 25,
      shift: 5,
      dist: -40
    })
  })
})
</script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
  var movies = {{ autocomplete|safe }}
  var movie_titles = []

  movies.forEach(function(x) {
    var title = x["Title"] + " (" + x["Year"] + ")"
    movie_titles.push({
      "movie_id": x["movie_id"],
      "label": title
    })
  })

  $("#auto").autocomplete({
    source: function(request, response) {
      var results = $.ui.autocomplete.filter(movie_titles, request.term)
      response(results.slice(0, 10))
    },
    select: function (event, ui) {
      var base_url = "{{ url_for('view_movie', movie_id='') }}"
      var url = base_url + ui.item.movie_id
      window.open(url, "_self")
    }
  })
</script>

{% endblock %}
