<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

   <title>MovieTime - Movie Recommendations</title>
   <link href="../static/main_style.css" rel="stylesheet">

</head>

<body>
   <section class="overhang">
      <h1>Movie Search</h1>
      <form method="POST" action="/search">
        {{ form.hidden_tag() }}
        {{ form.search_term() }}
        {{ form.submit_button(class="search_button") }}
      </form>
   </section>
   <section class="move_row">
      <div class="scroll_row">
        {% for movie in movies %}
            <div class="scroll_row_card"><img src="{{ movie.Poster }}"></div>
        {% endfor %}
      </div>
   </section>
</body>

</html>