<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

   <title>MovieTime - Movie Recommendations</title>
   <link href="../static/main_style.css" rel="stylesheet">
   <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">

</head>

<body>
    <section class="overhang">
        <h1>Movie Search</h1>
        <form method="POST" action="/search">
        {{ form.hidden_tag() }}
        <datalist id="movie_titles">
            {% for movie_name in movie_names %}
            <option value="{{ movie_name['title'] }}"></option>
            {% endfor %}
        </datalist>
        <input list="movie_titles" id="search_term" name="search_term" required="" type="text" value="">
        <input class="search_button" id="submit_button" name="submit_button" type="submit" value="Search">
        </form>
    </section>
    <section class="move_row">
    {{ form.hidden_tag() }}
        <div class="scroll_row">
            {% for movie in movies %}
                <div class="scroll_row_card"><form method="POST" action="/search"><input type="hidden" name="search_term" id="search_term" value="{{ movie.Title }}"><input class="imgtype" alt="Submit" type="image" src="{{ movie.Poster }}"></input></form> </div>
            {% endfor %}
        </div> 
    </section>
</body>

</html>