{% from 'macros/search.html' import search_js, search_bar %}
{% from 'macros/head.html' import head %}
{% from 'macros/movie_row.html' import movie_row %}
<!DOCTYPE html>
<html>

{{ head(title="Movie Recommendations") }}

<body>

{#{{ search_bar(form) }}#}
<div class="bg-img">

    <h1 style="color:white;">Movies like {{ base_movie["Title"] }} ({{ base_movie["Year"] }})</h1>
    <img style="height:200px"  src="{{ base_movie['Poster'] }}"/>
{#       <section class="move_row">#}
{#          <div class="scroll_row">#}
{#            {% for movie in movies %}#}
{#                <div id="trigger" class="scroll_row_card">#}
{#                  <!--Trigger/open modal-->#}
{#                  <img src="{{ movie.Poster }}">#}
{#                  <!--modal-->#}
{#                  <div id="modalbox" class="modal">#}
{#                    <!--modal content-->#}
{#                    <div class="modal-content">#}
{#                      <span class="close">&times;</span>#}
{#                      <p>{{ movie.Plot }}</p>#}
{#                    </div>#}
{#                  </div>#}
{#                   <h2>{{ movie.Title }}</h2>#}
{#                  <p>{{ movie.Year }} {{ movie.Rated }}</p>#}
{#                </div>#}
{##}
{#            {% endfor %}#}
{#          </div>#}
{#       </section>#}
    {{ movie_row(movies) }}
</div>

{#{{ search_js(movie_list_json) }}#}
<script type="text/javascript" src="/static/modal.js"></script>
</body>

</html>
