
{% macro head(title) -%}
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <title>{{ config["APP_NAME"] +" - "}}{{ title }}</title>
        <link href="/static/reset.css" rel="stylesheet">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link href="/static/main_style.css" rel="stylesheet">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">

    </head>
{%- endmacro %}
