{% macro popup_modal(movie, i) %}
<div id="modal{{ i }}" class="modal">
  <div class="modal-content">
    <div class="row">
      <div class="col s12 l12"><h4>{{ movie.Title }} ({{ movie.Year }})</h4></div>
    </div>
    <div class="row">
      <div class="col s12 l3">
        <img src="{{ movie.Poster }}" alt="{{ movie.Title }}" style="height:300px">
      </div>
      <div class="col s12 l9">
        <p><b>Genres:</b> {{ movie.Genre }}</p>
        <p><b>Rated:</b> {{ movie.Rated }}</p>
        <p><b>Runtime:</b> {{ movie.Runtime }}</p>
        <p><b>Released:</b> {{ movie.Released }}</p>
        <p><b>Rating:</b> {{ movie.imdbRating }}</p>
        <p><b>Number of Votes:</b> {{ movie.imdbVotes }}</p>
        <p><b>Plot:</b> {{ movie.Plot }}</p>
        <p><b>Actors:</b> {{ movie.Actors }}</p>
        <p><b>Director:</b> {{ movie.Director }}</p>
        <p><b>Writer:</b> {{ movie.Writer }}</p>
      </div>
    </div>
  </div>
</div>
{% endmacro %}
